html{
  font-size: 16px;
}

body{
    overflow-x: hidden; 
}

:root {
  --primary-color: #3498db;
  --primary-color-hover:#1976d2;
  
.redColor {color: red;}
  
.greenColor {color: green}

.orangeColor {color: orange}

.yellowColor {color: yellow}

}