.ProductDetailsContainer {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.ProductDetails {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.carousel {
  flex: 1;
  min-width: 300px;
}

.CarouselImage {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.ProductDetails > div:last-child {
  flex: 1;
  min-width: 300px;
}

.priceDetails {
  margin: 15px 0;
}

.price {
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.oldPrice {
  margin-left: 10px;
  text-decoration: line-through;
  color: #888;
}

.discount {
  margin-left: 10px;
  color: green;
  font-weight: 600;
}

.offerTitle {
  color: #ff4d4f;
  font-weight: bold;
  margin-top: 5px;
}

.offerTimer {
  margin-top: 8px;
  padding: 6px 10px;
  background: #fff3cd;
  color: #856404;
  border-radius: 6px;
  font-weight: 600;
  display: inline-block;
}

.qtyBtn {
  padding: 0.5rem 1rem;
  border: none;
  margin: 1rem;
  background: #111;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.qtyInp {
  width: 30px;
  padding: 0.5rem 1.2rem;
  text-align: center;
  margin: 1 rem;
  border-radius: 6px;
}

.cart-btn {
  width: 40%;
  padding: 0.8rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(135deg, #111, #333);
  color: white;
  transition: 0.3s;
}

.cart-btn:hover {
  background: linear-gradient(135deg, #000, #555);
  transform: translateY(-2px);
}
.reviewCard {
  margin: 20px;
}
.review-btn {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.details h2 {
  text-align: left;
}

.reviewHeading {
  margin: 4rem;
  text-align: center;
  font-size: larger;
}

.redColor {
  color: #dc2626;
  font-weight: bold;
}

.greenColor {
  color: #16a34a;
  font-weight: bold;
}

h3 {
  margin-top: 3rem;
}

textarea {
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .ProductDetails {
    flex-direction: column;
  }

  .CarouselImage {
    height: 250px;
  }
}